<%= form_with(model: medicine, local: true) do |form| %>
  <% if medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :medicine_name %>
  </div>

  <div class="field">
    <%= form.label :exp %>
    <%= form.text_field :exp, id: :medicine_exp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
